body{
    background-color: rgb(212 , 214 , 221);
    margin:15px;
}
/* for heading of application */
h1{
    text-align: center;
}

#todoapp{
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    width: auto;
    height: auto;
}
/* design form  */

#text {
    height: 40px;
    width: 95%;
    min-width: 50%;
    margin: 10px;
    font-size: 15px;
    padding: 5px;
    border: none;
    outline-style: 1px solid;
    outline-color: snow;
    background-color: rgb(238 , 238 , 238);
    background-image: url("./images/logo.jpg");
    position:left;
    background-size: 40px;
    padding-left: 45px;
    border-radius: 4px;
    background-repeat: no-repeat;
}
/* button design */
#addButton{
    margin-left: -95px;
    border:0px;
    box-sizing: border-box;
    padding: 8px;
    outline: none;
}

#addButton{
    font-size: 15px;
    width: 80px;
    border-radius:40%;
    background-image: linear-gradient(180deg, blue, lightblue);;
    color: white;
    
}

/* design heading of task list */
#checkLogo{
    width:30px;
    height: 14px;
    padding-top: 5px;
}
#styleTop{
    height: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}
/*  design task list */
.bullet{
   list-style-type : circle;
   font-size: 25px;
}

.addTask{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
div:hover > .deleteTask{
    display:block;
}
#taskList > div:hover {
    margin-right: 10px;
    box-shadow: inset 0 0 3px rgb(163, 161, 161);
    border-radius: 10px;
}

/* delete task design */
.deleteTask{
    padding-right: 25px;
    padding-top: 5px;
    border-radius: 50%;
    display: none;
}
.deleteButton{
    border-radius: 50%;
    font-size: 10px;
    border: 1px solid black ;
}

/* design bottom part */
#styleBottom{
    border-top:1px solid lightgrey;
    height: 20px;
    padding: 5px
}
